---
import '@fontsource/inter';
import '../../global.css'
import BaseContainer from '../base/BaseContainer.astro'
import { Icon } from 'astro-icon/components'
import { SEO } from "astro-seo";

const base = import.meta.env.BASE_URL
const { title, description, seo } = Astro.props

const meta = {
  title,
  description,
  image: new URL(base + '/banner.jpg', Astro.url.origin).href
}
const account = {
  twitter: '@ibrahiminx'
}
---

<html lang="en">
	<head>
    <SEO
      charset='utf-8'
      title={meta.title}
      description={meta.description}
      openGraph={{
        basic: {
          title: meta.title,
          type: "website",
          image: meta.image,
        },
        optional: {
          description: meta.description
        }
      }}
      twitter={{
        card: 'summary_large_image',
        creator: account.twitter,
        title: meta.title,
        image: meta.image,
        description: meta.description
      }}
      {...seo}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="meta" />
    <link rel="apple-touch-icon" sizes="180x180" href={`${base}/favicon/apple-touch-icon.png`}>
    <link rel="icon" type="image/png" sizes="32x32" href={`${base}/favicon/favicon-32x32.png`}>
    <link rel="icon" type="image/png" sizes="16x16" href={`${base}/favicon/favicon-16x16.png`}>
    <link rel="manifest" href={`${base}/favicon/site.webmanifest`}>
    <link rel="sitemap" href={`${base}/sitemap-index.xml`}/>
	</head>
	<body class="bg-gray-50 text-gray-800 min-h-screen flex flex-col justify-between">
    <nav class="bg-white h-16 border-b border-gray-200 flex items-center">
      <BaseContainer class="flex items-center justify-between">
        <a href={base} class="font-bold text-xl tracking-tight text-gray-900 transition hover:text-blue-600">Dataset</a>
        <a href="https://github.com/ibrahimalanshor/dataset" class="text-gray-500 transition hover:text-gray-900">
          <Icon name="mingcute:github-fill" class="size-6" />
        </a>
      </BaseContainer>
    </nav>
    <slot />	
    <footer class="bg-white py-6 border-t border-gray-200 mt-auto">
      <BaseContainer class="flex flex-col items-center text-center gap-4 text-sm text-gray-500 sm:flex-row sm:justify-between">
        <p>
          &copy; 2025
          <a href="" class="font-semibold text-gray-700">Dataset</a>
        </p>
        <div class="space-x-6">
          <a href={`${base}/about`} class="transition hover:text-blue-600">Tentang</a>
          <a href="https://github.com/ibrahimalanshor/dataset" class="transition hover:text-blue-600">Repository</a>
        </div>
      </BaseContainer>
    </footer>
	</body>
</html>
